BankTestTask/Schema/CardSchemas.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CardList">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Card">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CardInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CardNumber" type="xs:decimal" />
                          <xs:element name="CardNumberFull" type="xs:string" />
                          <xs:element name="CardProdCode" type="xs:string" />
                          <xs:element name="CardProdName" type="xs:string" />
                          <xs:element name="CardOpenDate" type="xs:string" />
                          <xs:element name="CardTermDate" type="xs:decimal" />
                          <xs:element name="CardStatusCode" type="xs:unsignedByte" />
                          <xs:element name="CardStatusName" type="xs:string" />
                          <xs:element name="CardCurISO" type="xs:string" />
                          <xs:element name="AccTypeName" type="xs:string" />
                          <xs:element name="Account" type="xs:string" />
                          <xs:element name="CardHolder" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CardTransactions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Transaction">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StartDate" type="xs:string" />
                                <xs:element name="EndDate" type="xs:string" />
                                <xs:element name="CardMask" type="xs:decimal" />
                                <xs:element name="TransDate" type="xs:string" />
                                <xs:element name="Account" type="xs:unsignedLong" />
                                <xs:element name="Category" type="xs:string" />
                                <xs:element name="CategoryName" type="xs:string" />
                                <xs:element name="Ammount" type="xs:decimal" />
                                <xs:element name="TransType" type="xs:string" />
                                <xs:element name="TransTypeName" type="xs:string" />
                                <xs:element name="Currency" type="xs:string" />
                                <xs:element name="Details" type="xs:string" />
                                <xs:element name="City" type="xs:string" />
                                <xs:element name="Country" type="xs:string" />
                                <xs:element name="ID" type="xs:unsignedLong" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Id" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>